# folder_name/ or file_name.txt

Assignment_1/00_introduction_course_outline.pdf
Assignment_1/course_outline.txt
Assignment_1/assignment1.txt
Assignment_1/Table of Contents.html
Assignment_1/Tweets.zip
Assignment_1/IrisSpecies.zip
