# folder_name/ or file_name.txt

Assignments_1/00_introduction_course_outline.pdf
Assignments_1/course_outline.txt
Assignments_1/assignment1.txt
Assignments_1/Table of Contents.html
Assignments_1/Tweets.zip
Assignments_1/IrisSpecies.zip
